# Rust build artifacts
/target
**/*.rs.bk

# Editor / IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.swp
*.swo
clippy_output.txt
